#mainNav {
  display: none;
  padding: 16px 8px;
  transition: height .2s;
  border-bottom: 1px solid rgba(246, 218, 106, 0);
  background-color: #ffffff;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  z-index: 10; }
  #mainNav .navbar-brand {
    padding: 0;
    margin: 0;
    background-image: url("../img/logo_text.svg");
    background-size: 70px 60px;
    background-repeat: no-repeat;
    width: 70px;
    height: 60px; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    font-size: 14px;
    color: #003544;
    text-transform: uppercase;
    opacity: 1; }
  #mainNav .navbar-nav > li.nav-item a.btn-contact {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    font-size: 14px;
    color: #003544;
    text-transform: uppercase;
    opacity: 1; }
  @media (min-width: 992px) {
    #mainNav {
      display: flex;
      padding: 0;
      height: 146px;
      background-color: transparent; }
      #mainNav ul.navbar-nav {
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #mainNav ul.navbar-nav > li.nav-item > a.nav-link:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 2px;
          width: 100%;
          background: #f6da6a;
          transform: scale(0);
          transition: all .3s; }
        #mainNav ul.navbar-nav > li.nav-item > a.nav-link:hover:before {
          transform: scale(1); }
      #mainNav li#contact-us {
        border: 1.13pt solid #003544;
        margin-left: 15px; }
        #mainNav li#contact-us > a {
          display: block;
          padding: 10px 30px;
          position: relative;
          font-size: 14px;
          font-weight: bold;
          color: #003544;
          text-transform: uppercase; }
          #mainNav li#contact-us > a:hover, #mainNav li#contact-us > a:focus {
            text-decoration: none; }
      #mainNav.fixed {
        height: 60px;
        background-color: #000000; }
        #mainNav.fixed .navbar-brand {
          background-image: url("../img/logo_text_white.svg");
          background-size: 60px 50px;
          background-position: center; }
        #mainNav.fixed .navbar-nav > li.nav-item > a.nav-link {
          color: #ffffff; }
        #mainNav.fixed .navbar-nav li#contact-us {
          border: 1.13pt solid #ffffff; }
          #mainNav.fixed .navbar-nav li#contact-us > a {
            color: #ffffff; } }

@font-face {
  font-family: 'heebo';
  src: url("../fonts/Heebo/heebo-webfont.eot");
  src: url("../fonts/Heebo/heebo-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/heebo-webfont.woff") format("woff"), url("../fonts/Heebo/heebo-webfont.ttf") format("truetype"), url("../fonts/Heebo/heebo-webfont.svg#heebo") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'playfair';
  src: url("../fonts/PlayfairDisplay/playfairdisplay-regular-webfont.eot");
  src: url("../fonts/PlayfairDisplay/playfairdisplay-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/playfairdisplay-regular-webfont.woff") format("woff"), url("../fonts/PlayfairDisplay/playfairdisplay-regular-webfont.ttf") format("truetype"), url("../fonts/PlayfairDisplay/playfairdisplay-regular-webfont.svg#playfair") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sourceHanSansCN';
  src: url("../fonts/sourceHanSansCN/SourceHanSansCN-Regular.eot");
  src: url("../fonts/sourceHanSansCN/SourceHanSansCN-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourceHanSansCN/SourceHanSansCN-Regular.woff") format("woff"), url("../fonts/sourceHanSansCN/SourceHanSansCN-Regular.ttf") format("truetype"), url("../fonts/sourceHanSansCN/SourceHanSansCN-Regular.svg#sourceHanSansCN") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pingFang';
  src: url("../fonts/Pingfang/PingFang-SC-Regular.eot");
  src: url("../fonts/Pingfang/PingFang-SC-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pingfang/PingFang-SC-Regular.woff") format("woff"), url("../fonts/Pingfang/PingFang-SC-Regular.ttf") format("truetype"), url("../fonts/Pingfang/PingFang-SC-Regular.svg#pingFang") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat/montserrat-regular-webfont.svg#montserrat") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserratBold/montserrat-bold-webfont.eot");
  src: url("../fonts/montserratBold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratBold/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserratBold/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserratBold/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratmedium';
  src: url("../fonts/montserratM/montserrat-medium-webfont.eot");
  src: url("../fonts/montserratM/montserrat-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserratM/montserrat-medium-webfont.woff") format("woff"), url("../fonts/montserratM/montserrat-medium-webfont.ttf") format("truetype"), url("../fonts/montserratM/montserrat-medium-webfont.svg#montserratmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
.hero {
  position: relative;
  margin-top: 265px; }
  .hero h1 {
    width: 100%;
    font-family: 'playfair', Serif;
    font-size: 80px;
    padding: 0;
    line-height: 80px;
    margin-bottom: 66px;
    color: #003544; }
    .hero h1:after {
      content: url("../fonts/yellow-rect.svg");
      width: 15px;
      height: 15px;
      margin-left: 15px; }
  .hero p {
    font-family: 'sourceHanSansCN', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #434343; }
  @media (max-width: 768px) {
    .hero {
      padding: 30px 30px 0;
      margin-top: 100px;
      text-align: center; }
      .hero h1 {
        font-size: 56px !important;
        margin-bottom: 30px !important; }
        .hero h1:after {
          content: url("../fonts/yellow-rect-10.svg");
          width: 12px;
          height: 12px;
          margin-left: 8px; }
      .hero p {
        padding: 0 30px;
        line-height: 23px;
        font-size: 14px !important; }
        .hero p br {
          display: none; } }

.container:before, .container-fluid:before, .row:before, .container:after, .container-fluid:after, .row:after {
  content: "";
  display: table; }
.container:after, .container-fluid:after, .row:after {
  clear: both; }

#aboutPage {
  margin-top: 192px; }
  #aboutPage .col-md-12 {
    background-color: #f5f5f5;
    margin-bottom: 60px; }
    #aboutPage .col-md-12 .col-md-6 h3 {
      font-family: 'playfair', sans-serif;
      font-size: 30px;
      margin-bottom: 28px; }
    #aboutPage .col-md-12 .col-md-6 p {
      font-family: 'sourceHanSansCN', sans-serif;
      font-size: 14px;
      color: #626262;
      line-height: 30px;
      letter-spacing: 1px; }
    #aboutPage .col-md-12 .col-md-3 img {
      max-width: 100%; }
  @media (max-width: 768px) {
    #aboutPage {
      padding: 10px 30px;
      margin-top: 80px; }
      #aboutPage .col-md-6 {
        padding: 25px 26px 25px 26px; }
        #aboutPage .col-md-6 h3 {
          text-align: left;
          font-size: 21px !important;
          margin-bottom: 12px !important; }
        #aboutPage .col-md-6 p {
          text-align: left;
          font-size: 14px !important;
          line-height: 26px !important; }
          #aboutPage .col-md-6 p br {
            display: none; } }

footer {
  position: relative;
  margin-top: 10px;
  padding: 50px 0; }
  footer p {
    font-family: 'pingFang', sans-serif;
    font-size: 14px;
    opacity: .8 !important;
    color: #626262; }
  @media (max-width: 992px) {
    footer p {
      font-size: 12px !important;
      margin-bottom: 30px; } }
  @media (max-width: 768px) {
    footer {
      padding: 35px 0 35px 0; } }

footer.bottom {
  background-color: #f5f5f5; }
  footer.bottom .col-md-12 {
    font-family: 'montserrat', sans-serif;
    opacity: .4;
    text-transform: uppercase;
    font-size: 12px; }
  @media (max-width: 768px) {
    footer.bottom .col-md-12 {
      font-size: 8px; } }

.contact-content {
  position: fixed;
  width: 100%;
  height: 0;
  font-family: 'playfair', Serif;
  top: 0;
  overflow: hidden;
  background-color: #003544;
  z-index: 9999;
  display: block; }
  .contact-content .contact-title {
    position: relative;
    text-align: center;
    top: 23px;
    font-style: italic;
    font-size: 28px;
    line-height: 36px;
    color: #ffffff; }
  .contact-content .btn-close {
    position: absolute;
    top: 30px;
    right: 145px;
    height: 21px;
    width: 21px;
    cursor: pointer; }
    .contact-content .btn-close:before, .contact-content .btn-close:after {
      position: absolute;
      left: 11px;
      content: "";
      height: 21px;
      width: 3px;
      background-color: #000000; }
    .contact-content .btn-close:before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
    .contact-content .btn-close:after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  .contact-content .contact-icons {
    position: relative;
    margin: 100px auto 0 auto; }
    .contact-content .contact-icons > div {
      display: inline-block;
      width: 210px;
      height: 210px;
      text-align: center;
      cursor: pointer;
      margin: auto 30px; }
      .contact-content .contact-icons > div:hover .icon {
        background-color: #DEF7FC; }
    .contact-content .contact-icons .icon {
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 auto;
      height: 113px;
      width: 113px;
      border-radius: 50%;
      border: 5px solid rgba(0, 0, 0, 0); }
    .contact-content .contact-icons .btn-wechat .qrcode {
      position: absolute;
      top: 0;
      left: 42px;
      width: 129px;
      height: 129px;
      background-image: url("../img/contact/qrcode.jpg");
      background-size: contain;
      opacity: 0;
      -webkit-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out; }
    .contact-content .contact-icons .btn-wechat .btn-qrcode {
      position: relative;
      margin: 15px auto 0 auto;
      width: 80px;
      height: 24px;
      background: rgba(238, 237, 237, 0.3) url("../img/contact/qrcode.png") no-repeat center;
      background-size: 16px 16px;
      border-radius: 40px;
      -webkit-transition: background-color .25s ease-in-out;
      transition: background-color .25s ease-in-out; }
    .contact-content .contact-icons .btn-wechat .icon {
      background-image: url("../img/contact/wechat.png"); }
    .contact-content .contact-icons .btn-wechat.on .qrcode {
      display: block;
      opacity: 1; }
    .contact-content .contact-icons .title {
      position: relative;
      margin-top: 22px;
      font-size: 14px;
      color: #ffffff;
      line-height: 24px;
      letter-spacing: 1px; }
    .contact-content .contact-icons .sub-title {
      font-family: "montserrat", sans-serif;
      position: relative;
      font-size: 12px;
      font-weight: lighter;
      line-height: 16px;
      color: #999999; }
    .contact-content .contact-icons .btn-email .icon {
      background-image: url("../img/contact/email.png"); }
    .contact-content .contact-icons .btn-rss .icon {
      background-image: url("../img/contact/rss.png"); }

.hero-home {
  position: relative; }
  .hero-home .wrap {
    height: 825px;
    background-image: url("../img/home/homeBackground.png");
    z-index: -1; }
    .hero-home .wrap .container {
      position: relative; }
      .hero-home .wrap .container .title-text {
        position: absolute;
        z-index: 2;
        top: 300px; }
        .hero-home .wrap .container .title-text h2 {
          font-family: 'playfair', sans-serif;
          font-size: 120px;
          line-height: 110px; }
        .hero-home .wrap .container .title-text p {
          font-family: 'sourceHanSansCN', sans-serif;
          font-size: 16px;
          line-height: 32px; }
  @media (max-width: 992px) {
    .hero-home .wrap {
      height: 600px; }
      .hero-home .wrap .container .title-text {
        top: 160px; }
        .hero-home .wrap .container .title-text h2 {
          font-size: 80px; } }
  @media (max-width: 480px) {
    .hero-home .wrap {
      height: 400px; }
      .hero-home .wrap .container .title-text {
        padding: 0 30px 0 30px;
        top: 100px; }
        .hero-home .wrap .container .title-text h2 {
          font-size: 56px;
          line-height: 50px;
          margin-bottom: 32px; }
        .hero-home .wrap .container .title-text p {
          padding: 0 5px 0 5px;
          font-size: 14px;
          line-height: 28px;
          letter-spacing: 1px; }
          .hero-home .wrap .container .title-text p br {
            display: none; } }

.home-service .wrap {
  height: 500px; }
  .home-service .wrap .container .service-text {
    position: relative;
    margin-top: 120px; }
    .home-service .wrap .container .service-text h3 {
      font-family: 'playfair', sans-serif;
      font-size: 80px;
      margin-bottom: 6px; }
      .home-service .wrap .container .service-text h3:after {
        content: url("../fonts/yellow-rect.svg");
        width: 14px;
        height: 14px;
        margin-left: 15px; }
    .home-service .wrap .container .service-text p {
      margin-bottom: 0;
      font-family: 'sourceHanSansCN', sans-serif;
      font-size: 16px;
      color: #434343;
      line-height: 32px;
      letter-spacing: 1px; }
  .home-service .wrap .container .bar1 {
    position: relative;
    margin-top: 30px;
    background-color: #000000;
    width: 300px;
    height: 50px;
    box-shadow: 8px 8px 0 #f6da6a; }
    .home-service .wrap .container .bar1 a {
      text-decoration: none; }
      .home-service .wrap .container .bar1 a p {
        margin-left: 33px;
        color: #ffffff;
        font-family: 'pingFang', sans-serif;
        font-size: 14px;
        letter-spacing: 1px; }
        .home-service .wrap .container .bar1 a p:after {
          position: absolute;
          content: url("../fonts/arrow-01.svg");
          width: 25px;
          height: 15px;
          right: 10%; }
@media (max-width: 1200px) {
  .home-service .wrap .container .service-text h3 {
    font-size: 70px; } }
@media (max-width: 992px) {
  .home-service .wrap {
    height: 400px; }
    .home-service .wrap .container .service-text {
      margin-top: 80px; }
      .home-service .wrap .container .service-text h3 {
        font-size: 50px; }
      .home-service .wrap .container .service-text p {
        font-size: 10px; }
    .home-service .wrap .container .bar1 {
      margin-top: 40px;
      width: 220px; }
      .home-service .wrap .container .bar1 a p {
        font-size: 12px; } }
@media (max-width: 480px) {
  .home-service .wrap {
    padding: 10px 30px; }
    .home-service .wrap .container .service-text {
      margin-top: 70px; }
      .home-service .wrap .container .service-text h3 {
        font-size: 34px;
        margin-bottom: 16px; }
        .home-service .wrap .container .service-text h3:after {
          content: url("../fonts/yellow-rect-10.svg");
          width: 10px;
          height: 10px;
          margin-left: 8px; }
      .home-service .wrap .container .service-text p {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 28px; }
        .home-service .wrap .container .service-text p br {
          display: none; }
    .home-service .wrap .container .bar1 {
      position: relative;
      width: 100%;
      box-shadow: 4px 4px 0 #f6da6a; }
      .home-service .wrap .container .bar1 a p {
        font-size: 14px; } }

.home-case .wrap {
  height: auto; }
  .home-case .wrap .container {
    position: relative; }
    .home-case .wrap .container .case-box {
      text-decoration: none; }
      .home-case .wrap .container .case-box .thumb img {
        z-index: -1;
        display: block;
        width: 100%; }
      .home-case .wrap .container .case-box .thumb:before {
        content: url("../fonts/arrow-02.svg");
        display: block;
        position: absolute;
        top: 40px;
        left: -32px;
        opacity: 0;
        z-index: 9999;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
      .home-case .wrap .container .case-box .caption {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        color: #000000;
        background: rgba(246, 218, 106, 0.9);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
        .home-case .wrap .container .case-box .caption .caption-content {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding-left: 32px;
          padding-bottom: 38px;
          text-align: left; }
          .home-case .wrap .container .case-box .caption .caption-content .project-brand {
            font-family: "montserrat", sans-serif;
            font-size: 13px;
            margin-bottom: 20px;
            text-transform: uppercase; }
          .home-case .wrap .container .case-box .caption .caption-content .project-name {
            font-family: 'pingFang', sans-serif;
            font-size: 21px;
            font-weight: bold; }
      .home-case .wrap .container .case-box:hover .caption {
        opacity: 1; }
      .home-case .wrap .container .case-box:hover .thumb:before {
        opacity: 1;
        left: 32px; }
    .home-case .wrap .container .bar2 {
      position: relative;
      background-color: #000000;
      margin-top: 20px;
      width: 300px;
      height: 50px;
      box-shadow: 8px 8px 0 #f6da6a; }
      .home-case .wrap .container .bar2 p {
        margin-left: 33px;
        color: #ffffff;
        font-family: 'pingFang', sans-serif;
        font-size: 14px;
        letter-spacing: 1px; }
        .home-case .wrap .container .bar2 p:after {
          position: absolute;
          content: url("../fonts/arrow-01.svg");
          width: 25px;
          height: 15px;
          right: 10%; }
@media (max-width: 992px) {
  .home-case .wrap .container .case-box .thumb:after {
    display: none; }
  .home-case .wrap .container .case-box .caption {
    position: relative;
    opacity: 1;
    background: none; }
    .home-case .wrap .container .case-box .caption .caption-content {
      position: relative;
      padding: 0 0 30px; }
      .home-case .wrap .container .case-box .caption .caption-content .project-brand {
        color: #626262;
        padding-top: 16px; }
  .home-case .wrap .bar2 {
    width: 220px; }
    .home-case .wrap .bar2 p {
      font-size: 10px; } }
@media (max-width: 480px) {
  .home-case .wrap {
    padding: 10px 30px; }
    .home-case .wrap .container .case-box .caption .caption-content .project-brand {
      font-size: 12px;
      margin-bottom: 10px; }
    .home-case .wrap .container .case-box .caption .caption-content .project-name {
      font-size: 16px; }
    .home-case .wrap .container .bar2 {
      width: 100%;
      box-shadow: 4px 4px 0 #f6da6a; } }

.home-client .wrap {
  height: 580px; }
  .home-client .wrap .container .service-text {
    position: relative;
    margin-top: 140px; }
    .home-client .wrap .container .service-text h3 {
      font-family: 'playfair', sans-serif;
      font-size: 80px;
      margin-bottom: 6px; }
      .home-client .wrap .container .service-text h3:after {
        content: url("../fonts/yellow-rect.svg");
        width: 14px;
        height: 14px;
        margin-left: 15px; }
    .home-client .wrap .container .service-text p {
      margin-bottom: 0;
      font-family: 'sourceHanSansCN', sans-serif;
      font-size: 16px;
      color: #434343;
      line-height: 32px;
      letter-spacing: 1px; }
  .home-client .wrap .container .client {
    position: relative;
    margin-top: 10px; }
    .home-client .wrap .container .client ul li {
      list-style: none;
      display: inline-block;
      width: 14%;
      margin-right: 25px; }
      .home-client .wrap .container .client ul li img {
        width: 100%; }
@media (max-width: 1200px) {
  .home-client .wrap .container .service-text h3 {
    font-size: 70px; } }
@media (max-width: 992px) {
  .home-client .wrap .container .service-text h3 {
    font-size: 50px; }
  .home-client .wrap .container .service-text p {
    font-size: 10px; } }
@media (max-width: 480px) {
  .home-client .wrap {
    padding: 10px 30px; }
    .home-client .wrap .container .service-text {
      margin-top: 70px; }
      .home-client .wrap .container .service-text h3 {
        font-size: 34px;
        margin-bottom: 16px; }
        .home-client .wrap .container .service-text h3:after {
          content: url("../fonts/yellow-rect-10.svg");
          width: 10px;
          height: 10px; }
      .home-client .wrap .container .service-text p {
        font-size: 14px;
        line-height: 28px; }
        .home-client .wrap .container .service-text p br {
          display: none;
          letter-spacing: 1px; }
    .home-client .wrap .container .client ul {
      text-align: center; }
      .home-client .wrap .container .client ul li {
        width: 30%;
        margin-right: 5px; } }

.home-team {
  margin-top: 116px;
  margin-bottom: 62px; }
  .home-team .container .team-content {
    position: relative;
    text-align: center; }
    .home-team .container .team-content .team-content-img img {
      width: 100%;
      height: 580px;
      display: block;
      filter: brightness(50%);
      -webkit-filter: brightness(50%); }
    .home-team .container .team-content .team-content-text {
      position: absolute;
      top: 170px;
      width: 100%;
      color: #ffffff; }
      .home-team .container .team-content .team-content-text h3 {
        font-family: 'playfair', sans-serif;
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 18px; }
        .home-team .container .team-content .team-content-text h3:after {
          content: url("../fonts/yellow-rect.svg");
          width: 14px;
          height: 14px;
          margin-left: 15px; }
      .home-team .container .team-content .team-content-text p {
        font-family: 'sourceHanSansCN', sans-serif;
        font-size: 16px;
        line-height: 32px;
        font-weight: lighter;
        opacity: .8;
        letter-spacing: 2px; }
    .home-team .container .team-content .bar3 {
      position: absolute;
      background-color: #ffffff;
      top: 358px;
      width: 300px;
      height: 50px;
      left: 37%;
      box-shadow: 8px 8px 0 #f6da6a; }
      .home-team .container .team-content .bar3 p {
        margin-left: 33px;
        color: #000000;
        font-family: 'pingFang', sans-serif;
        font-size: 14px;
        letter-spacing: 1px; }
        .home-team .container .team-content .bar3 p:after {
          position: absolute;
          content: url("../fonts/arrow-02.svg");
          width: 25px;
          height: 15px;
          right: 10%; }
  @media (max-width: 1200px) {
    .home-team .wrap .team-content .team-content-text h3 {
      font-size: 70px; }
    .home-team .wrap .team-content .bar3 {
      left: 320px; } }
  @media (max-width: 992px) {
    .home-team .wrap .team-content .team-content-text h3 {
      font-size: 50px; }
    .home-team .wrap .team-content .team-content-text p {
      font-size: 10px;
      letter-spacing: 2px; }
    .home-team .wrap .team-content .bar3 {
      width: 220px;
      height: 40px;
      left: 240px; }
      .home-team .wrap .team-content .bar3 p {
        font-size: 10px; }
        .home-team .wrap .team-content .bar3 p:after {
          margin-left: 38px; } }
  @media (max-width: 480px) {
    .home-team {
      margin-top: 0;
      margin-bottom: 115px; }
      .home-team .container .team-content .team-content-img img {
        width: 100%;
        height: 312px; }
      .home-team .container .team-content .team-content-text {
        padding: 0 30px;
        top: 54px; }
        .home-team .container .team-content .team-content-text h3 {
          font-size: 34px;
          line-height: 34px; }
          .home-team .container .team-content .team-content-text h3:after {
            content: url("../fonts/yellow-rect-10.svg");
            width: 10px;
            height: 10px;
            margin-left: 8px; }
        .home-team .container .team-content .team-content-text p {
          padding: 0 20px;
          font-size: 14px;
          text-align: left;
          line-height: 26px; }
          .home-team .container .team-content .team-content-text p br {
            display: none; }
      .home-team .container .team-content .bar3 {
        width: 80%;
        top: 210px;
        left: 10%; } }

.loading {
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
  display: block;
  padding: 20%; }
  .loading h2 {
    color: #000000;
    margin: 0;
    font: 14px montserrat;
    text-transform: uppercase;
    letter-spacing: .1em; }
  .loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: 0;
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate; }
    .loading span:nth-of-type(2) {
      background: #008FB2;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .loading span:nth-of-type(3) {
      background: #009B9E;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .loading span:nth-of-type(4) {
      background: #00A77D;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .loading span:nth-of-type(5) {
      background: #00B247;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .loading span:nth-of-type(6) {
      background: #5AB027;
      -webkit-animation-delay: 1.0s;
      animation-delay: 1.0s; }
    .loading span:nth-of-type(7) {
      background: #A0B61E;
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s; }

@-webkit-keyframes loading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes loading {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.nav-mobile {
  position: absolute;
  height: 0;
  overflow: hidden; }
  @media (max-width: 992px) {
    .nav-mobile {
      display: none;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 9999;
      opacity: 0;
      background-color: #ffffff;
      transition: opacity .6s; }
      .nav-mobile .title-bar {
        top: 0;
        position: relative;
        height: 60px; }
        .nav-mobile .title-bar .btn-close-mobile {
          position: absolute;
          top: 20px;
          left: 30px;
          height: 17px;
          width: 17px;
          cursor: pointer; }
          .nav-mobile .title-bar .btn-close-mobile:before, .nav-mobile .title-bar .btn-close-mobile:after {
            position: absolute;
            left: 11px;
            content: "";
            height: 22px;
            width: 2px;
            background-color: #003544; }
          .nav-mobile .title-bar .btn-close-mobile:before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg); }
          .nav-mobile .title-bar .btn-close-mobile:after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg); }
        .nav-mobile .title-bar .brand-mobile {
          height: 60px;
          text-align: center; }
          .nav-mobile .title-bar .brand-mobile img {
            width: 80px;
            height: 60px; }
      .nav-mobile .nav-content ul {
        margin-top: 80px;
        padding: 0; }
        .nav-mobile .nav-content ul li {
          padding: 30px 0;
          list-style: none;
          font-family: 'montserrat', sans-serif;
          font-size: 22px;
          text-transform: uppercase;
          font-weight: bolder; }
          .nav-mobile .nav-content ul li a {
            text-decoration: none;
            color: #003544; }
      .nav-mobile .nav-contact-mobile {
        margin-top: 70px; }
        .nav-mobile .nav-contact-mobile p {
          width: 260px;
          font-family: "montserrat", sans-serif;
          font-size: 22px;
          text-transform: uppercase;
          font-weight: bolder;
          color: #003544;
          border: 2px solid #003544;
          padding: 18px 0;
          margin: auto; } }
  @media (max-width: 768px) {
    .nav-mobile .title-bar .btn-close-mobile {
      top: 10px; }
    .nav-mobile .title-bar .brand-mobile {
      margin-top: 10px; }
      .nav-mobile .title-bar .brand-mobile img {
        width: 60px !important;
        height: 40px !important; }
    .nav-mobile .nav-content ul {
      margin-top: 40px; }
      .nav-mobile .nav-content ul li {
        padding: 21px 0;
        font-size: 14px; }
    .nav-mobile .nav-contact-mobile {
      margin-top: 60px; }
      .nav-mobile .nav-contact-mobile p {
        width: 186px;
        font-size: 14px;
        padding: 16px 0; } }

#navbar-mobile {
  display: none; }
  @media (max-width: 992px) {
    #navbar-mobile {
      position: fixed;
      display: block;
      height: 60px;
      width: 100%;
      background: transparent;
      z-index: 999; }
      #navbar-mobile > .btn-bar {
        position: absolute;
        top: 20px;
        left: 30px;
        height: 22px;
        width: 22px;
        cursor: pointer;
        z-index: 9; }
        #navbar-mobile > .btn-bar span {
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s;
          transform-origin: 50% 50%;
          display: block;
          margin: 4px 0;
          height: 2px;
          background: #003544; }
      #navbar-mobile > .btn-bar.on span:nth-child(1) {
        -webkit-transform: scale(0) translateY(7px);
        -moz-transform: scale(0) translateY(7px);
        -ms-transform: scale(0) translateY(7px);
        -o-transform: scale(0) translateY(7px);
        transform: scale(0) translateY(7px); }
      #navbar-mobile > .btn-bar.on span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      #navbar-mobile > .btn-bar.on span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      #navbar-mobile > .btn-bar.on span:nth-child(4) {
        -webkit-transform: scale(0) translateY(-7px);
        -moz-transform: scale(0) translateY(-7px);
        -ms-transform: scale(0) translateY(-7px);
        -o-transform: scale(0) translateY(-7px);
        transform: scale(0) translateY(-7px); }
      #navbar-mobile .navbar-logo {
        text-align: center;
        height: 60px; }
        #navbar-mobile .navbar-logo img {
          width: 80px;
          height: 60px; }
      #navbar-mobile.fixed-mobile {
        background: #ffffff;
        height: 60px; } }
  @media (max-width: 768px) {
    #navbar-mobile .btn-bar {
      top: 18px; }
    #navbar-mobile .navbar-logo {
      margin-top: 10px; }
      #navbar-mobile .navbar-logo img {
        width: 60px;
        height: 40px; } }

* {
  margin: 0;
  padding: 0; }

body,
html {
  width: 100%;
  height: 100%; }

.grid:after {
  content: '';
  display: block;
  clear: both; }
.grid .grid-sizer,
.grid .grid-item {
  width: 25%; }
.grid .grid-item {
  float: left; }
.grid .grid-item--width2 {
  width: 50%; }
.grid .grid-item--height2 {
  height: 500px; }
@media (max-width: 768px) {
  .grid .grid-sizer,
  .grid .grid-item {
    width: 50%; } }
@media (max-width: 480px) {
  .grid .grid-sizer,
  .grid .grid-item {
    width: 100%; } }

#casePage {
  margin-top: 176px; }
  #casePage .filter-box {
    display: block;
    width: 100%; }
    #casePage .filter-box .filter-trigger {
      text-decoration: none;
      display: inline-block;
      padding: 17px 28px;
      font-size: 14px;
      background: #000000;
      color: #ffffff;
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 400;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      #casePage .filter-box .filter-trigger:hover {
        background: #f6da6a; }
  #casePage .grid .grid-item {
    text-decoration: none; }
    #casePage .grid .grid-item:hover .thumb img {
      opacity: .5; }
    #casePage .grid .grid-item .thumb {
      position: relative;
      background: #f6da6a;
      overflow: hidden; }
      #casePage .grid .grid-item .thumb img {
        display: block;
        width: 100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
    #casePage .grid .grid-item .caption {
      padding: 26px 68px 52px 0;
      font-family: 'pingFang', sans-serif;
      color: #000000; }
      #casePage .grid .grid-item .caption .project-date {
        opacity: .8;
        font-size: 13px;
        margin-bottom: 20px; }
      #casePage .grid .grid-item .caption .project-name {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold; }
  #casePage .pagination {
    margin: 82px 0 140px 0;
    font-family: 'pingFang', sans-serif;
    background-color: #f5f5f5;
    width: 100%;
    text-align: center;
    border-radius: 0;
    display: inline-block;
    padding-left: 0; }
    #casePage .pagination .disabled {
      opacity: .2; }
    #casePage .pagination .previous {
      font-size: 36px;
      padding: 3px 15px 0;
      margin: 0;
      height: 49px;
      line-height: 1;
      display: block;
      float: left;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      #casePage .pagination .previous:before {
        content: url("../fonts/arrow-02-left.svg"); }
      #casePage .pagination .previous:hover {
        background: #f6da6a; }
    #casePage .pagination .next {
      font-size: 36px;
      padding: 3px 15px 0;
      margin: 0;
      height: 49px;
      line-height: 1;
      display: block;
      float: right;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      #casePage .pagination .next:before {
        content: url("../fonts/arrow-02.svg"); }
      #casePage .pagination .next:hover {
        background: #f6da6a; }
    #casePage .pagination .btn {
      border-radius: 0;
      border: 0; }
    #casePage .pagination .btn-default {
      background: #000000;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 400;
      padding: 16px 25px 15px;
      font-size: 13px;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      #casePage .pagination .btn-default:hover {
        background: #f6da6a;
        color: #000000; }
    #casePage .pagination .active {
      background: #f6da6a !important;
      color: #000000 !important; }
  @media (max-width: 768px) {
    #casePage {
      padding: 0 30px; }
      #casePage .grid .grid-item .caption {
        padding: 16px 0 60px 0; }
        #casePage .grid .grid-item .caption .project-date {
          font-size: 12px;
          margin-bottom: 10px; }
        #casePage .grid .grid-item .caption .project-name {
          font-size: 16px; } }

#servicePage {
  margin: 192px 0 76px 0; }
  #servicePage a {
    text-decoration: none; }
    #servicePage a .thumb img {
      display: block;
      width: 100%; }
    #servicePage a .caption {
      margin: 32px 0 74px 0; }
      #servicePage a .caption .caption-content {
        text-align: center; }
        #servicePage a .caption .caption-content .project-brand {
          font-family: 'playfair', sans-serif;
          color: #000000;
          font-size: 21px;
          margin-bottom: 19px; }
        #servicePage a .caption .caption-content .project-name {
          font-family: 'sourceHanSansCN', sans-serif;
          color: #626262;
          font-size: 14px; }
  @media (max-width: 768px) {
    #servicePage {
      margin-top: 80px;
      padding: 10px 30px; }
      #servicePage a .caption {
        margin: 30px 0 60px 0; }
        #servicePage a .caption .caption-content .project-brand {
          font-size: 20px;
          margin-bottom: 14px; }
        #servicePage a .caption .caption-content .project-name {
          font-size: 14px; } }

#teamPage {
  margin-top: 196px;
  position: relative; }
  #teamPage .teamCategory {
    margin-bottom: 122px; }
    #teamPage .teamCategory .teamTitle {
      font-family: 'playfair', sans-serif;
      padding-bottom: 36px;
      font-size: 30px; }
    #teamPage .teamCategory .grid a {
      font-family: 'sourceHanSansCN', sans-serif; }
      #teamPage .teamCategory .grid a .thumb img {
        display: block;
        width: 100%; }
      #teamPage .teamCategory .grid a .caption {
        position: absolute;
        margin: 0 15px 16px 15px;
        padding: 14px 0 12px 0;
        bottom: 0;
        width: 90%;
        height: 58px;
        text-align: center;
        background-color: #ffffff; }
        #teamPage .teamCategory .grid a .caption .name {
          font-size: 14px;
          color: #000000;
          margin-bottom: 4px; }
        #teamPage .teamCategory .grid a .caption .title {
          text-transform: uppercase;
          font-size: 11px;
          color: #626262;
          letter-spacing: 1px; }
  @media (max-width: 768px) {
    #teamPage {
      margin-top: 74px;
      padding: 0 30px; }
      #teamPage .teamCategory {
        margin-bottom: 60px; }
        #teamPage .teamCategory .teamTitle {
          text-align: center;
          font-size: 21px;
          padding-bottom: 26px; } }

.filter-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  display: none;
  cursor: url("../img/cursor.png"), auto; }
  .filter-container .inner {
    display: table;
    position: absolute;
    height: 100%;
    width: 300px; }
    .filter-container .inner ul.filters {
      list-style: none;
      padding: 0;
      margin-top: 100px;
      display: table-cell;
      vertical-align: middle; }
      .filter-container .inner ul.filters li {
        display: block;
        margin: 0; }
        .filter-container .inner ul.filters li a.filter {
          opacity: .4;
          display: block;
          color: #555;
          font-size: 36px;
          font-weight: 300;
          text-decoration: none;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s; }
          .filter-container .inner ul.filters li a.filter:hover {
            color: #f6da6a;
            opacity: 1; }
        .filter-container .inner ul.filters li a.active {
          color: #f6da6a;
          opacity: 1; }

body.filters-active .grid {
  transform: scale(0.5) translateY(-40%);
  -webkit-transform: scale(0.5) translateY(-40%); }
body.filters-active header,
body.filters-active section,
body.filters-active footer,
body.filters-active nav,
body.filters-active .filter-trigger {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
body.filters-active section#casePage,
body.filters-active .filter-container {
  opacity: 1; }

#clientPage {
  margin: 132px 0 76px 0; }
  #clientPage a.client-img {
    text-decoration: none; }
    #clientPage a.client-img:hover img {
      filter: grayscale(0);
      -webkit-filter: grayscale(0); }
    #clientPage a.client-img img {
      width: 70%;
      display: block;
      margin-left: 45px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
  @media (max-width: 768px) {
    #clientPage {
      padding: 10px 30px;
      margin-top: 80px; } }

/*# sourceMappingURL=style.css.map */
