.grid{
  &:after{
    content: '';
    display: block;
    clear: both;
  }

  .grid-sizer,
  .grid-item{
    width: 25%;
  }
  .grid-item{
    float: left;
  }

  .grid-item--width2{
    width: 50%;
  }

  @media (max-width: 762px){
    .grid-sizer,
    .grid-item{
      width: 100%;
    }
  }
}