#casePage {
  margin-top: 176px;
  .filter-box {
    display: block;
    width: 100%;
    .filter-trigger {
      text-decoration: none;
      display: inline-block;
      padding: 17px 28px;
      font-size: 14px;
      background: $black;
      color: $white;
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 400;
      @include transition-all;
      &:hover{
        background: $yellow;
      }
    }
  }
  .grid {
    .grid-item {
      text-decoration: none;
      &:hover{
        .thumb{
          img{
            opacity: .5;
          }
        }
      }
      .thumb {
        position: relative;
        background: $yellow;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          @include transition-all;
        }
      }
      .caption {
        padding: 26px 68px 52px 0;
        font-family: 'pingFang', sans-serif;
        color: $black;
        .project-date {
          opacity: .8;
          font-size: 13px;
          margin-bottom: 20px;
        }
        .project-name {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
  .pagination {
    margin: 82px 0 140px 0;
    font-family: 'pingFang', sans-serif;
    background-color: $gray_f5;
    width: 100%;
    text-align: center;
    border-radius: 0;
    display: inline-block;
    padding-left: 0;
    .disabled {
      opacity: .2;
    }
    .previous {
      font-size: 36px;
      padding: 3px 15px 0;
      margin: 0;
      height: 49px;
      line-height: 1;
      display: block;
      float: left;
      @include transition-all;
      &:before {
        content: url("../fonts/arrow-02-left.svg");
      }
      &:hover {
        background: $yellow;
      }
    }
    .next {
      font-size: 36px;
      padding: 3px 15px 0;
      margin: 0;
      height: 49px;
      line-height: 1;
      display: block;
      float: right;
      @include transition-all;
      &:before {
        content: url("../fonts/arrow-02.svg");
      }
      &:hover {
        background: $yellow;
      }

    }
    .btn {
      border-radius: 0;
      border: 0;
    }
    .btn-default {
      background: $black;
      color: $white;
      text-transform: uppercase;
      font-weight: 400;
      padding: 16px 25px 15px;
      font-size: 13px;
      @include transition-all;
      &:hover {
        background: $yellow;
        color: $black;
      }
    }
    .active {
      background: $yellow !important;
      color: $black !important;
    }
  }
  @media (max-width: 768px) {
    padding: 0 30px;
    .grid {
      a {
        .caption {
          padding: 16px 0 60px 0;
          .project-date {
            font-size: 12px;
            margin-bottom: 12px;
          }
          .project-name {
            font-size: 16px;
          }
        }
      }
    }
  }
}