.hero {
  position: relative;
  margin-top: 265px;
  h1 {
    width: 100%;
    font-family: 'playfair', Serif;
    font-size: 80px;
    padding: 0;
    line-height: 80px;
    margin-bottom: 66px;
    color: $grizzlyBlue;
    &:after {
      content: url("../fonts/yellow-rect.svg");
      width: 15px;
      height: 15px;
      margin-left: 15px;
    }
  }
  p {
    font-family: 'sourceHanSansCN', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: $gray_43;
  }

  @media (max-width: 768px) {
    padding: 30px 30px 0;
    margin-top: 100px;
    text-align: center;
    h1 {
      font-size: 56px !important;
      margin-bottom: 30px!important;
      &:after {
        content: url("../fonts/yellow-rect-10.svg");
        width: 12px;
        height: 12px;
        margin-left: 8px;
      }
    }
    p {
      padding: 0 30px;
      line-height: 23px;
      font-size: 14px !important;
      br{
        display: none;
      }
    }
  }
}

