.hero {
  position: relative;
  margin-top: 265px;
  h1 {
    width: 100%;
    font-family: 'playfair', Serif;
    font-size: 80px;
    padding: 0;
    line-height: 80px;
    margin-bottom: 66px;
    color: $grizzlyBlue;
    &:after {
      content: url("../fonts/yellow-rect.svg");
      width: 15px;
      height: 15px;
      margin-left: 15px;
    }
  }
  p {
    font-family: 'sourceHanSansCN', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: $gray_43;
  }
}

