.hero-home {
  position: relative;
  .wrap {
    height: 825px;
    background-image: url("../img/home/homeBackground.png");
    z-index: -1;
    .container {
      position: relative;
      .title-text {
        position: absolute;
        z-index: 2;
        top: 300px;
        h2 {
          font-family: 'playfair', sans-serif;
          font-size: 120px;
          line-height: 110px;
        }
        p {
          font-family: 'sourceHanSansCN', sans-serif;
          font-size: 16px;
          line-height: 32px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .wrap {
      height: 600px;
      .container {
        .title-text {
          top: 160px;
          h2 {
            font-size: 80px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .wrap {
      height: 400px;
      .container {
        .title-text {
          padding: 0 30px 0 30px;
          top: 100px;
          h2 {
            font-size: 56px;
            line-height: 50px;
            margin-bottom: 32px;
          }
          p {
            padding: 0 5px 0 5px;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 1px;
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

.home-service {
  .wrap {
    height: 500px;
    .container {
      .service-text {
        position: relative;
        margin-top: 120px;
        h3 {
          font-family: 'playfair', sans-serif;
          font-size: 80px;
          margin-bottom: 6px;
          &:after {
            content: url("../fonts/yellow-rect.svg");
            width: 14px;
            height: 14px;
            margin-left: 15px;
          }
        }
        p {
          margin-bottom: 0;
          font-family: 'sourceHanSansCN', sans-serif;
          font-size: 16px;
          color: $gray_43;
          line-height: 32px;
          letter-spacing: 1px;
        }
      }
      .bar1 {
        position: relative;
        margin-top: 30px;
        background-color: $black;
        width: 300px;
        height: 50px;
        box-shadow: 8px 8px 0 $yellow;
        a {
          text-decoration: none;
          p {
            margin-left: 33px;
            color: $white;
            font-family: 'pingFang', sans-serif;
            font-size: 14px;
            letter-spacing: 1px;
            &:after {
              position: absolute;
              content: url("../fonts/arrow-01.svg");
              width: 25px;
              height: 15px;
              right: 10%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .wrap {
      .container {
        .service-text {
          h3 {
            font-size: 70px;
          }
        }
      }
    }
  }

  @media (max-width: 992px) {
    .wrap {
      height: 400px;
      .container {
        .service-text {
          margin-top: 80px;
          h3 {
            font-size: 50px;
          }
          p {
            font-size: 10px;
          }
        }
        .bar1 {
          margin-top: 40px;
          width: 220px;
          a {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .wrap {
      padding: 10px 30px;
      .container {
        .service-text {
          margin-top: 70px;
          h3 {
            font-size: 34px;
            margin-bottom: 16px;
            &:after {
              content: url("../fonts/yellow-rect-10.svg");
              width: 10px;
              height: 10px;
              margin-left: 8px;
            }
          }
          p {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 28px;
            br {
              display: none;
            }
          }
        }
        .bar1 {
          position: relative;
          width: 100%;
          box-shadow: 4px 4px 0 $yellow;
          a {
          }
        }
      }
    }
  }

}

.home-case {
  .wrap {
    height: auto;
    .container {
      position: relative;
      .case-box {
        text-decoration: none;
        .thumb {
          img {
            z-index: -1;
            display: block;
            width: 100%;
          }
          &:before {
            content: url("../fonts/arrow-02.svg");
            display: block;
            position: absolute;
            top: 40px;
            left: -32px;
            opacity: 0;
            z-index: 9999;
            @include transition-all;
          }
        }
        .caption {
          position: absolute;
          bottom: 0;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          opacity: 0;
          color: $black;
          background: fade_out($yellow, .1);
          @include transition-all;
          .caption-content {
            position: absolute;
            width: 100%;
            bottom: 0;
            padding-left: 32px;
            padding-bottom: 38px;
            text-align: left;
            .project-brand {
              font-family: "montserrat", sans-serif;
              font-size: 13px;
              margin-bottom: 20px;
              text-transform: uppercase;
            }
            .project-name {
              font-family: 'pingFang', sans-serif;
              font-size: 21px;
              font-weight: bold;
            }
          }
        }
        &:hover {
          .caption {
            opacity: 1;
          }
          .thumb {
            &:before {
              opacity: 1;
              left: 32px;
            }
          }
        }
      }
      .bar2 {
        position: relative;
        background-color: $black;
        margin-top: 20px;
        width: 300px;
        height: 50px;
        box-shadow: 8px 8px 0 $yellow;
        p {
          margin-left: 33px;
          color: $white;
          font-family: 'pingFang', sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          &:after {
            position: absolute;
            content: url("../fonts/arrow-01.svg");
            width: 25px;
            height: 15px;
            right: 10%;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .wrap {
      .container {
        .case-box {
          .thumb {
            &:after {
              display: none;
            }
          }
          .caption {
            position: relative;
            opacity: 1;
            background: none;
            .caption-content {
              position: relative;
              padding: 0 0 30px;
              .project-brand {
                color: $gray_62;
                padding-top: 16px;
              }
            }
          }
        }
      }
      .bar2 {
        width: 220px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .wrap {
      padding: 10px 30px;
      .container {
        .case-box {
          .caption {
            .caption-content {
              .project-brand {
                font-size: 12px;
                margin-bottom: 10px;
              }
              .project-name {
                font-size: 16px;
              }
            }
          }
        }
        .bar2 {
          width: 100%;
          box-shadow: 4px 4px 0 $yellow;
        }
      }
    }
  }
}

.home-client {
  .wrap {
    height: 580px;
    .container {
      .service-text {
        position: relative;
        margin-top: 140px;
        h3 {
          font-family: 'playfair', sans-serif;
          font-size: 80px;
          margin-bottom: 6px;
          &:after {
            content: url("../fonts/yellow-rect.svg");
            width: 14px;
            height: 14px;
            margin-left: 15px;
          }
        }
        p {
          margin-bottom: 0;
          font-family: 'sourceHanSansCN', sans-serif;
          font-size: 16px;
          color: $gray_43;
          line-height: 32px;
          letter-spacing: 1px;
        }
      }
      .client {
        position: relative;
        margin-top: 10px;
        ul {
          li {
            list-style: none;
            display: inline-block;
            width: 14%;
            margin-right: 25px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .wrap {
      .container {
        .service-text {
          h3 {
            font-size: 70px;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .wrap {
      .container {
        .service-text {
          h3 {
            font-size: 50px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .wrap {
      padding: 10px 30px;
      .container {
        .service-text {
          margin-top: 70px;
          h3 {
            font-size: 34px;
            margin-bottom: 16px;
            &:after {
              content: url("../fonts/yellow-rect-10.svg");
              width: 10px;
              height: 10px;
            }
          }
          p {
            font-size: 14px;
            line-height: 28px;
            br {
              display: none;
              letter-spacing: 1px;
            }
          }
        }
        .client {
          ul {
            text-align: center;
            li {
              width: 30%;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.home-team {
  margin-top: 116px;
  margin-bottom: 62px;
  .container {
    .team-content {
      position: relative;
      text-align: center;
      .team-content-img {
        img {
          width: 100%;
          height: 580px;
          display: block;
          filter: brightness(50%);
          -webkit-filter: brightness(50%);
        }
      }
      .team-content-text {
        position: absolute;
        top: 170px;
        width: 100%;
        color: $white;
        h3 {
          font-family: 'playfair', sans-serif;
          font-size: 80px;
          line-height: 80px;
          margin-bottom: 18px;
          &:after {
            content: url("../fonts/yellow-rect.svg");
            width: 14px;
            height: 14px;
            margin-left: 15px;
          }
        }
        p {
          font-family: 'sourceHanSansCN', sans-serif;
          font-size: 16px;
          line-height: 32px;
          font-weight: lighter;
          opacity: .8;
          letter-spacing: 2px;
        }
      }
      .bar3 {
        position: absolute;
        background-color: $white;
        top: 358px;
        width: 300px;
        height: 50px;
        left: 37%;
        box-shadow: 8px 8px 0 $yellow;
        p {
          margin-left: 33px;
          color: $black;
          font-family: 'pingFang', sans-serif;
          font-size: 14px;
          font-weight: bolder;
          letter-spacing: 1px;
          &:after {
            position: absolute;
            content: url("../fonts/arrow-02.svg");
            width: 25px;
            height: 15px;
            right: 10%;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .wrap {
      .team-content {
        .team-content-text {
          h3 {
            font-size: 70px;
          }
        }
        .bar3 {
          left: 320px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .wrap {
      .team-content {
        .team-content-text {
          h3 {
            font-size: 50px;
          }
          p {
            font-size: 10px;
            letter-spacing: 2px;
          }
        }
        .bar3 {
          width: 220px;
          height: 40px;
          left: 240px;
          p {
            font-size: 10px;
            &:after {
              margin-left: 38px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    margin-top: 0;
    margin-bottom: 115px;
    .container {
      .team-content {
        .team-content-img {
          img {
            width: auto;
            height: 312px;
          }
        }
        .team-content-text {
          padding: 0 30px;
          top: 54px;
          h3 {
            font-size: 34px;
            line-height: 34px;
            &:after {
              content: url("../fonts/yellow-rect-10.svg");
              width: 10px;
              height: 10px;
              margin-left: 8px;
            }
          }
          p {
            padding: 0 20px;
            font-size: 14px;
            text-align: left;
            line-height: 26px;
            br {
              display: none;
            }
          }
        }
        .bar3 {
          width: 80%;
          top: 210px;
          left: 10%;
        }
      }
    }
  }
}