.home-client{
  .wrap {
    height: 580px;
    .container {
      position: relative;
      .service-text {
        position: absolute;
        top: 140px;
        h3 {
          font-family: 'playfair', sans-serif;
          font-size: 80px;
          margin-bottom: 6px;
          &:after{
            content: url("../fonts/yellow-rect.svg");
            width: 14px;
            height: 14px;
            margin-left: 15px;
          }
        }
        p {
          margin-bottom: 0;
          font-family: 'sourceHanSansCN', sans-serif;
          font-size: 16px;
          color: $gray_43;
          line-height: 32px;
          letter-spacing: 1px;
        }
      }
      .client-img{
        position: absolute;
        top: 370px;
        height: 210px;
        width: 100%;
        background-color: $yellow;
      }
    }
  }

  @media (max-width: 1200px){
    .service-text{
      h3{
        font-size: 70px!important;
      }
    }
  }
  @media (max-width: 992px){
    .service-text{
      h3{
        font-size: 50px!important;
      }
      p{
        font-size: 10px!important;
      }
    }
  }
}