.nav-mobile {
  position: absolute;
  height: 0;
  overflow: hidden;
  @media (max-width: 992px) {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    opacity: 0;
    background-color: $white;
    transition: opacity .6s;
    .title-bar {
      top: 0;
      position: relative;
      height: 60px;
      .btn-close-mobile {
        position: absolute;
        top: 20px;
        left: 30px;
        height: 17px;
        width: 17px;
        cursor: pointer;
        &:before, &:after {
          position: absolute;
          left: 11px;
          content: "";
          height: 22px;
          width: 2px;
          background-color: $grizzlyBlue;
        }
        &:before {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
      .brand-mobile {
        height: 60px;
        text-align: center;
        img {
          width: 80px;
          height: 60px;
        }
      }
    }
    .nav-content {
      ul {
        margin-top: 80px;
        padding: 0;
        li {
          padding: 30px 0;
          list-style: none;
          font-family: 'montserrat', sans-serif;
          font-size: 22px;
          text-transform: uppercase;
          font-weight: bolder;
          a {
            text-decoration: none;
            color: $grizzlyBlue;
          }
        }
      }
    }
    .nav-contact-mobile {
      margin-top: 70px;
      p {
        width: 260px;
        font-family: "montserrat", sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bolder;
        color: $grizzlyBlue;
        border: 2px solid $grizzlyBlue;
        padding: 18px 0;
        margin: auto;
      }
    }
  }
  @media (max-width: 768px) {
    .title-bar {
      .btn-close-mobile {
        top: 10px;
      }
      .brand-mobile {
        margin-top: 10px;
        img {
          width: 60px !important;
          height: 40px !important;
        }
      }
    }
    .nav-content {
      ul {
        margin-top: 40px;
        li {
          padding: 21px 0;
          font-size: 14px;
        }
      }
    }
    .nav-contact-mobile {
      margin-top: 60px;
      p {
        width: 186px;
        font-size: 14px;
        padding: 16px 0;
      }
    }
  }
}

#navbar-mobile {
  display: none;
  @media (max-width: 992px) {
    position: fixed;
    display: block;
    height: 60px;
    width: 100%;
    background: transparent;
    z-index: 999;
    > .btn-bar {
      position: absolute;
      top: 20px;
      left: 30px;
      height: 22px;
      width: 22px;
      cursor: pointer;
      z-index: 9;
      span {
        @include transition-all;
        transform-origin: 50% 50%;
        display: block;
        margin: 4px 0;
        height: 2px;
        background: $grizzlyBlue;
      }
    }
    > .btn-bar.on {
      span {
        &:nth-child(1) {
          -webkit-transform: scale(0) translateY(7px);
          -moz-transform: scale(0) translateY(7px);
          -ms-transform: scale(0) translateY(7px);
          -o-transform: scale(0) translateY(7px);
          transform: scale(0) translateY(7px)
        }
        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg)
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg)
        }
        &:nth-child(4) {
          -webkit-transform: scale(0) translateY(-7px);
          -moz-transform: scale(0) translateY(-7px);
          -ms-transform: scale(0) translateY(-7px);
          -o-transform: scale(0) translateY(-7px);
          transform: scale(0) translateY(-7px)
        }
      }
    }
    .navbar-logo {
      text-align: center;
      height: 60px;
      img {
        width: 80px;
        height: 60px;
      }
    }
    &.fixed-mobile {
      background: $white;
      height: 60px;
    }
  }
  @media (max-width: 768px) {
    .btn-bar {
      top: 18px;
    }
    .navbar-logo {
      margin-top: 10px;
      img {
        width: 60px;
        height: 40px;
      }
    }
  }
}