#servicePage{
  margin: 192px 0 76px 0;
  a{
    text-decoration: none;
    .thumb{
      img{
        display: block;
        width: 100%;
      }
    }
    .caption{
      margin: 32px 0 74px 0;
      .caption-content{
        text-align: center;
        .project-brand{
          font-family: 'playfair', sans-serif;
          color: $black;
          font-size: 21px;
          margin-bottom: 19px;
        }
        .project-name{
          font-family: 'sourceHanSansCN', sans-serif;
          color: $gray_62;
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 768px){
    margin-top: 78px;
    padding: 10px 30px;
    a{
      .caption{
        margin: 30px 0 60px 0;
        .caption-content{
          .project-brand{
            font-size: 20px;
            margin-bottom: 14px;
          }
          .project-name{
            font-size: 14px;
          }
        }
      }
    }
  }
}