// Variables

$white: #ffffff !default;
$white_de: #DEF7FC !default;
$grizzlyBlue: #003544 !default;
$black: #000000 !default;
$yellow: #eabf43 !default;
$gray_62: #626262 !default;
$gray_f5: #f5f5f5 !default;
$gray_99: #999999 !default;
$gray_43: #434343 !default;